//===== GENERAL =====//

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

//===== LAYOUT & CONTAINER =====//

html,
body {
  background: $bg-gray;
}

footer {
  padding: 10px 0;
}

header {
  background: $bg-gray;
  left: 0;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.wrapper {
  margin: auto;
  padding: 80px 30px 30px;
  width: 100%;
}

.content {
  background: $white;
  min-height: 350px;
  padding: 30px;
}

.toggle {
  position: relative;

  &:hover .toggle-content {
    display: block;
  }
}
