//===== GENERAL =====//

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

//===== LAYOUT & CONTAINER =====//

html,
body {
  background: #CCC;
}

footer {
  padding: 10px 0;
}

header {
}

.wrapper {
  margin: auto;
  padding: 20px;
}

.container {
  padding: 20px;
}

.content {
  background: $white;
  min-height: 350px;
  padding: 30px;
}

.map-content {
  position: relative;
  height: 800px;
}

.clear{
  clear: both;
}
